In [81]:
#Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
#have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
#This task will be done in following steps:
#1. First get the webpage https://www.shine.com/
#2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
#3. Then click the searchbutton.
#4. Then scrape the data for the first 10 jobs results you get.
#5. Finally create a dataframe of the scraped data.
#Note: All of the above steps have to be done in code. No step is to be done manually.

In [82]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (4.11.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (from selenium) (2.0.4)
Requirement already satisfied: trio~=0.17 in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (22.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [83]:
#Impoting all the necessary libraries
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [95]:
driver=webdriver.Chrome()

In [96]:
#1. Opening the shine page on automated chrome browser:
driver.get("https://www.shine.com")

In [97]:
#2.Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Analyst')

In [99]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [100]:
#3. Clicking the Search Button
Search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
Search.click()

In [101]:
#4. Scraping the data for the first 10 jobs results you get.
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [102]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [103]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [104]:
#Dataframe of the scraped data
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Project Coordinator (Data Analyst),Bangalore,futures and careers,2 to 4 Yrs
1,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
2,Hiring For Data Analyst,Bangalore\n+14,kavya staffing solutions,0 to 4 Yrs
3,Senior Data Analyst,Bangalore,ara resources private limited,2 to 5 Yrs
4,Data Analyst,Bangalore\n+9,ashutosh sabhashankar chaturvedi hi...,7 to 12 Yrs
5,Data Analyst Urgent Recruiment,Bangalore\n+14,divya interprises,0 to 4 Yrs
6,Apply Now a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
7,Apply Now Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
8,Needed for Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
9,Urgently need a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs

In [106]:
#Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
#have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [114]:
driver=webdriver.Chrome()

In [115]:
#1. Opening the shine page on automated chrome browser:
driver.get("https://www.shine.com")

In [117]:
#2.Enter “Data Scientist” in “Job title, Skills” field and enter “Banglore” in “enter the location” field:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Scientist')

In [118]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [120]:
#3. Clicking the Search Button
Search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
Search.click()

In [121]:
#4. Scraping the data for the first 10 jobs results you get.
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [122]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [123]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [124]:
#Dataframe of the scraped data
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
1,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
2,Data Scientist,Bangalore,skyleaf consultants,5 to 10 Yrs
3,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
4,Required for Data Scientist,Bangalore,deuglo infosystem private limited,4 to 6 Yrs
5,Urgently need Data Scientist,Bangalore\n+8,deuglo infosystem private limited,4 to 6 Yrs
6,Data scientist Bangalore,Bangalore,seven geomax consulting private lim...,6 to 9 Yrs
7,Data Scientist,Bangalore,employberry consultants hiring for ...,3 to 6 Yrs
8,Hiring For Data Scientist,Bangalore\n+15,niharika enterprises,0 to 4 Yrs
9,Needed for the post Data Scientist,Bangalore\n+8,deuglo infosystem private limited,4 to 6 Yrs

In [79]:
#Q3: In this question you have to scrape data using the filters available on the webpage
#You have to use the location and salary filter.
#You have to scrape data for “Data Scientist” designation for first 10 job results.
#You have to scrape the job-title, job-location, company name, experience required.
#The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [151]:
driver=webdriver.Chrome()

In [152]:
#1. Opening the shine page on automated chrome browser:
driver.get("https://www.shine.com")

In [153]:
#2.Enter “Data Scientist” in “Job title, Skills” field and enter “Delhi/NCR” in “enter the location” field:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Scientist')

In [154]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Delhi/NCR')

In [155]:
#3. Clicking the Search Button
Search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
Search.click()

In [164]:
Salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[3]/button')
Salary.click()

In [165]:
#Salary filter
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label')
salary.click()

In [166]:
#Salary filter
showresults=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]')
showresults.click()

In [167]:
#4. Scraping the data for the first 10 jobs results you get.
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [168]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [169]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [170]:
#Dataframe of the scraped data
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Scientist,Delhi\n+6,quiscon biotech,0 to 3 Yrs
1,Data Scientist,Delhi,skyleaf consultants,3 to 6 Yrs
2,Data Scientist,Delhi\n+6,quiscon biotech,0 to 1 Yr
3,Data Scientist,Gurugram,pro career ignition hr consultancy ...,0 to 2 Yrs
4,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
5,for _GCP Data Engineer/Lead/Architect- Delhi,Delhi,nina s hr consultancy,2 to 3 Yrs
6,for _GCP Data Engineer/Lead/Architect- Delhi,Delhi,nina s hr consultancy,2 to 3 Yrs
7,Modeling Analyst,Noida,ntt global networks,1 to 2 Yrs
8,Risk Analyst-QE,Noida,ntt global networks,1 to 2 Yrs
9,"Risk Analyst,QE",Noida,ntt global networks,2 to 6 Yrs

In [171]:
#Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#6. Brand
#7. ProductDescription
#8. Price
#The attributes which you have to scrape is ticked marked in the below image.

In [345]:
driver=webdriver.Chrome()

In [347]:
#1. Opening the flipkart page on automated chrome browser:
driver.get("https://www.flipkart.com")

In [348]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('sunglasses')

In [349]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [350]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [351]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    p_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    price =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    discount=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [353]:
print(len(B_name[:100]),len(Price[:100]),len(P_desc[:100]),len(Discount[:100]))

100 100 100 100

In [359]:
#Dataframe of the scraped data
df=pd.DataFrame({'Brand Name':B_name[:100],'Product Price':Price[:100],'Product Description':P_desc[:100],'Discount':Discount[:100]})
df

,Brand Name,Product Price,Product Description,Discount
0,VINCENT CHASE,₹899,"UV Protection, Polarized Over-sized Sunglasses...",55% off
1,Singco India,₹379,"Riding Glasses, UV Protection Clubmaster, Wayf...",81% off
2,SRPM,₹204,UV Protection Wayfarer Sunglasses (50),84% off
3,PIRASO,₹239,UV Protection Clubmaster Sunglasses (54),85% off
4,Elligator,₹179,"UV Protection Cat-eye, Retro Square, Oval, Rou...",70% off
...,...,...,...,...
95,BKGE,₹197,UV Protection Retro Square Sunglasses (54),85% off
96,ROZZETTA CRAFT,₹335,"by Lenskart Polarized, UV Protection Round Sun...",74% off
97,VINCENT CHASE,₹965,"by Lenskart Polarized, UV Protection Cat-eye S...",77% off
98,SmartGlass,₹429,UV Protection Aviator Sunglasses (62),87% off
99,PIRASO,₹379,UV Protection Spectacle Sunglasses (Free Size),25% off

In [360]:
#Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
#https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market

In [361]:
driver=webdriver.Chrome()

In [362]:
#Opening the flipkart page on automated chrome browser:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [363]:
Rating=[]
Reviewsumm=[]
Fullreview=[]

In [364]:
for i in range(10):
    rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    reviewsumm=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    fullreview =driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    
    for j  in rating:
        Rating.append(j.text)
    Rating[:100]    
    
    
    for k in reviewsumm:
        Reviewsumm.append(k.text)
    Reviewsumm[:100] 
    
    
    for l in fullreview:
        Fullreview.append(l.text)
    Fullreview[:100]

In [365]:
print(len(Rating),len(Reviewsumm),len(Fullreview))

100 100 100

In [366]:
#Dataframe of the scraped data
df=pd.DataFrame({'Rating':Rating,'ReviewSummary':Reviewsumm,'FullReview':Fullreview})
df

,Rating,ReviewSummary,FullReview
0,5,Classy product,Photos super
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Terrific,Very very good
3,5,Wonderful,This is amazing at all
4,5,Perfect product!,V Good all
...,...,...,...
95,5,Worth every penny,Feeling awesome after getting the delivery of ...
96,5,Best in the market!,Good Camera
97,5,Just wow!,Perfect Product!!
98,5,Fabulous!,Super🔥 and good performance 👌❤️
99,5,Great product,Purple is best

In [367]:
#Q6: Scrape data for first 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” in the search field.
#You have to scrape 3 attributes of each sneaker:
#1. Brand
#2. ProductDescription
#3. Price

In [368]:
driver=webdriver.Chrome()

In [375]:
#Opening the flipkart page on automated chrome browser:
driver.get("https://www.flipkart.com")

In [376]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('sneakers')

In [377]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [378]:
B_name=[]
P_desc=[]
Price=[]

In [380]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    price =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    p_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
   
   
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100]

In [381]:
print(len(B_name[:100]),len(P_desc[:100]),len(Price[:100]))

100 100 100

In [382]:
#Dataframe of the scraped data
df=pd.DataFrame({'Brand Name':B_name[:100],'Product Description':P_desc[:100],'Product Price':Price[:100]})
df

,Brand Name,Product Description,Product Price
0,Magnolia,Modern Trendy Sneakers boot Sneakers Sneakers ...,₹449
1,SFR,Exclusive Affordable Collection of Trendy & St...,₹349
2,BRUTON,Modern Trendy Shoes Sneakers For Men,₹379
3,Nobelite,Sneakers For Men,₹299
4,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹398
...,...,...,...
95,Asics,Sneakers For Men,"₹1,699"
96,RapidBox,Sneakers For Men,₹750
97,Magnolia,Sneakers For Men,₹499
98,Free Kicks,Sneakers For Men,₹599
99,Sparx,UP Sneakers For Men,₹519