In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
#1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
#A) Rank B) Name C) Artist D) Upload date E) Views

In [44]:
driver=webdriver.Chrome()

In [45]:
# Opening the wikipedia page on automated chrome browser:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [5]:
#creating empty list for scraping data
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [46]:
# scraping Rank
Rank=[]
#rank = driver.find_elements(By.XPATH,'//td[@align="center"]')[:15]
rank = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')[:30]
#                            song = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
for i in rank:       
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)   
Rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [49]:
Name=[]
name = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')[:30]
for i in name:       
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
Name

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 'Cocomelon - Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon - Nursery Rhymes',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 'Mark Ronson',
 'Miroshka TV',
 'officialpsy',
 'Get Movies',
 'Ultra Records',
 'Crazy Frog',
 'Maroon 5',
 'OneRepublic',
 'Katy Perry',
 'Cocomelon - Nursery Rhymes',
 'Shakira',
 'Justin Bieber',
 'Jingle Toons',
 'Ed Sheeran',
 'Katy Perry',
 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs',
 'Ed Sheeran',
 'Alan Walker',
 'Passenger',
 'Maroon 5',
 'Major Lazer Official',
 'Enrique Iglesias']

In [50]:
# scraping Artist
Artist=[]
artist = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')[:30]
for i in artist:
    if i.text is None :
        Artist.append("--") 
    else:
        Artist.append(i.text)        
Artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 'Cocomelon - Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon - Nursery Rhymes',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 'Mark Ronson',
 'Miroshka TV',
 'officialpsy',
 'Get Movies',
 'Ultra Records',
 'Crazy Frog',
 'Maroon 5',
 'OneRepublic',
 'Katy Perry',
 'Cocomelon - Nursery Rhymes',
 'Shakira',
 'Justin Bieber',
 'Jingle Toons',
 'Ed Sheeran',
 'Katy Perry',
 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs',
 'Ed Sheeran',
 'Alan Walker',
 'Passenger',
 'Maroon 5',
 'Major Lazer Official',
 'Enrique Iglesias']

In [51]:
# scraping Upload_date
Upload_date = []
date = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')[:30]
for i in date:       
    if i.text is None :
        Upload_date.append("--") 
    else:
        Upload_date.append(i.text)   
Upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'May 24, 2018',
 'March 6, 2014',
 'November 19, 2014',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'June 16, 2009',
 'January 14, 2015',
 'May 31, 2013',
 'September 5, 2013',
 'June 25, 2018',
 'June 4, 2010',
 'October 22, 2015',
 'June 14, 2018',
 'October 7, 2014',
 'February 20, 2014',
 'January 26, 2018',
 'November 9, 2017',
 'December 3, 2015',
 'July 25, 2012',
 'May 31, 2018',
 'March 22, 2015',
 'April 11, 2014']

In [42]:
# scraping Views
Views = []
view = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')[:30]
for i in view:       
        if i.text is None:
            Views.append("--")
        else:
            Views.append(i.text+" billions")
Views

['13.36 billions',
 '8.26 billions',
 '6.80 billions',
 '6.41 billions',
 '6.08 billions',
 '6.03 billions',
 '5.56 billions',
 '5.48 billions',
 '5.03 billions',
 '4.97 billions',
 '4.90 billions',
 '4.56 billions',
 '4.44 billions',
 '4.06 billions',
 '3.93 billions',
 '3.87 billions',
 '3.87 billions',
 '3.78 billions',
 '3.73 billions',
 '3.71 billions',
 '3.69 billions',
 '3.66 billions',
 '3.59 billions',
 '3.55 billions',
 '3.54 billions',
 '3.51 billions',
 '3.51 billions',
 '3.48 billions',
 '3.46 billions',
 '3.45 billions']

In [53]:
# creating the dataframe from the scraped data
df=pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,"Upload_date":Upload_date,"Views":Views})
df

,Rank,Name,Artist,Upload_date,Views
0,1.,Pinkfong Baby Shark - Kids' Songs & Stories,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.36 billions
1,2.,Luis Fonsi,Luis Fonsi,"January 12, 2017",8.26 billions
2,3.,LooLoo Kids - Nursery Rhymes and Children's Songs,LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.80 billions
3,4.,Cocomelon - Nursery Rhymes,Cocomelon - Nursery Rhymes,"May 2, 2018",6.41 billions
4,5.,Ed Sheeran,Ed Sheeran,"January 30, 2017",6.08 billions
5,6.,Wiz Khalifa,Wiz Khalifa,"April 6, 2015",6.03 billions
6,7.,Cocomelon - Nursery Rhymes,Cocomelon - Nursery Rhymes,"May 24, 2018",5.56 billions
7,8.,ChuChu TV Nursery Rhymes & Kids Songs,ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.48 billions
8,9.,Mark Ronson,Mark Ronson,"November 19, 2014",5.03 billions
9,10.,Miroshka TV,Miroshka TV,"February 27, 2018",4.97 billions
10,11.,officialpsy,officialpsy,"July 15, 2012",4.90 billions
11,12.,Get Movies,Get Movies,"January 31, 2012",4.56 billions
12,13.,Ultra Records,Ultra Records,"April 5, 2018",4.44 billions
13,14.,Crazy Frog,Crazy Frog,"June 16, 2009",4.06 billions
14,15.,Maroon 5,Maroon 5,"January 14, 2015",3.93 billions
15,16.,OneRepublic,OneRepublic,"May 31, 2013",3.87 billions
16,17.,Katy Perry,Katy Perry,"September 5, 2013",3.87 billions
17,18.,Cocomelon - Nursery Rhymes,Cocomelon - Nursery Rhymes,"June 25, 2018",3.78 billions
18,19.,Shakira,Shakira,"June 4, 2010",3.73 billions
19,20.,Justin Bieber,Justin Bieber,"October 22, 2015",3.71 billions
20,21.,Jingle Toons,Jingle Toons,"June 14, 2018",3.69 billions
21,22.,Ed Sheeran,Ed Sheeran,"October 7, 2014",3.66 billions
22,23.,Katy Perry,Katy Perry,"February 20, 2014",3.59 billions
23,24.,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.55 billions
24,25.,Ed Sheeran,Ed Sheeran,"November 9, 2017",3.54 billions
25,26.,Alan Walker,Alan Walker,"December 3, 2015",3.51 billions
26,27.,Passenger,Passenger,"July 25, 2012",3.51 billions
27,28.,Maroon 5,Maroon 5,"May 31, 2018",3.48 billions
28,29.,Major Lazer Official,Major Lazer Official,"March 22, 2015",3.46 billions
29,30.,Enrique Iglesias,Enrique Iglesias,"April 11, 2014",3.45 billions

In [7]:
#2. Scrape the details team Indiaâ€™s international fixtures from bcci.tv. Url = https://www.bcci.tv/.You need to find following details: 
#A) Match title (I.e. 1 ODI) B) Series C) Place D) Date E) Time  Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [56]:
driver=webdriver.Chrome()

In [57]:
# Opening the bcci page on automated chrome browser:
driver.get("https://www.bcci.tv/")

In [58]:
# clicking the options
#options=driver.find_element(By.XPATH,'//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]')
options=driver.find_element(By.XPATH,"//*[contains(text(), 'INTERNATIONAL')]")
options.click()

In [59]:
#creating empty list for scraping data
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

# scraping match title
series = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')

for i in series:       
    if i.text is None :
        Series.append("--") 
    else:
        Series.append(i.text)

In [60]:
Series

['AUSTRALIA TOUR OF INDIA 2023-24',
 '19TH ASIAN GAMES HANGZHOU 2022',
 'AUSTRALIA TOUR OF INDIA 2023-24',
 'AUSTRALIA TOUR OF INDIA 2023-24',
 'ICC MENS WORLD CUP 2023 WARM-UP MATCHES',
 '19TH ASIAN GAMES HANGZHOU 2022',
 'ICC MENS WORLD CUP 2023 WARM-UP MATCHES',
 'ICC MENS WORLD CUP 2023',
 'ICC MENS WORLD CUP 2023']

In [61]:
#matchOrderText ng-binding ng-scope
title = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')

for i in title:       
    if i.text is None :
        Match_title.append("--") 
    else:
        Match_title.append(i.text)
Match_title

['1st ODI -',
 'Semi Final 1 -',
 '2nd ODI -',
 '3rd ODI -',
 '1st ODI -',
 'Quarter Final 1 -',
 '2nd ODI -',
 '1st ODI -',
 '2nd ODI -']

place = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')

for i in place:       
    if i.text is None :
        Place.append("--") 
    else:
        Place.append(i.text) 
Place

In [62]:
Match_title

['1st ODI -',
 'Semi Final 1 -',
 '2nd ODI -',
 '3rd ODI -',
 '1st ODI -',
 'Quarter Final 1 -',
 '2nd ODI -',
 '1st ODI -',
 '2nd ODI -']

In [63]:
# scraping Date
date = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:       
    if i.text is None :
        Date.append("--") 
    else:
        Date.append(i.text)
Date

['22 SEP 2023',
 '24 SEP 2023',
 '24 SEP 2023',
 '27 SEP 2023',
 '30 SEP 2023',
 '3 OCT 2023',
 '3 OCT 2023',
 '8 OCT 2023',
 '11 OCT 2023']

In [64]:
Time=[]
time = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:       
    if i.text is None :
        Time.append("--") 
    else:
        Time.append(i.text)
Time

['1:30 PM IST',
 '6:30 AM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '2:00 PM IST',
 '6:30 AM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST']

In [65]:
Place=[]
place = driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place:       
    if i.text is None :
        Place.append("--") 
    else:
        Place.append(i.text)  
Place

['Punjab Cricket Association IS Bindra Stadium,',
 'Pingfeng Cricket Field,',
 'Holkar Cricket Stadium,',
 'Saurashtra Cricket Association Stadium,',
 'Barsapara Cricket Stadium,',
 'Pingfeng Cricket Field,',
 'Greenfield International Stadium,',
 'MA Chidambaram Stadium,',
 'Arun Jaitley Stadium,']

In [66]:
df_BCCI=pd.DataFrame({"Match_title":Match_title,"Series":Series,"Place":Place,"Date":Date,"Time":Time})
df_BCCI

,Match_title,Series,Place,Date,Time
0,1st ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,",22 SEP 2023,1:30 PM IST
1,Semi Final 1 -,19TH ASIAN GAMES HANGZHOU 2022,"Pingfeng Cricket Field,",24 SEP 2023,6:30 AM IST
2,2nd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Holkar Cricket Stadium,",24 SEP 2023,1:30 PM IST
3,3rd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium,",27 SEP 2023,1:30 PM IST
4,1st ODI -,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"Barsapara Cricket Stadium,",30 SEP 2023,2:00 PM IST
5,Quarter Final 1 -,19TH ASIAN GAMES HANGZHOU 2022,"Pingfeng Cricket Field,",3 OCT 2023,6:30 AM IST
6,2nd ODI -,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"Greenfield International Stadium,",3 OCT 2023,2:00 PM IST
7,1st ODI -,ICC MENS WORLD CUP 2023,"MA Chidambaram Stadium,",8 OCT 2023,2:00 PM IST
8,2nd ODI -,ICC MENS WORLD CUP 2023,"Arun Jaitley Stadium,",11 OCT 2023,2:00 PM IST

In [67]:
#3. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/You have to find following details: 
#A)Rank B) State C) GSDP(18-19)- at current prices D) GSDP(19-20)- at current prices E) Share(18-19) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code

In [68]:
driver=webdriver.Chrome()

In [70]:
# Opening the state wise GDP of India from statistics on automated chrome browser:
driver.get("https://www.statisticstimes.com/")

In [71]:
# clicking the 'economy'
economy=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
economy.click()

# clicking the 'dropdown button'
dropdown=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
dropdown.click()

In [73]:
# clicking the 'statewise GDP of India'
GDP_of_India=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP_of_India.click()

#creating empty list for scraping data
Rank=[]
State=[]
GDSP_19_20=[]
GSDP_18_19=[]
Share_18_19=[]
GDP_billion=[]

# scraping rank
rank = driver.find_elements(By.XPATH,'//td[@class="data1"]')[:33]
for i in rank:       
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)
                
# scraping state
state = driver.find_elements(By.XPATH,'//td[@class="name"]')[:33]
for i in state:       
    if i.text is None :
        State.append("--") 
    else:
        State.append(i.text)
                
# scraping GSDP at current price (19-20)
GSDP = driver.find_elements(By.XPATH,'//td[@class="data"]')[:165]
for i in GSDP:       
    if i.text is None :
        GDSP_19_20.append("--") 
    else:
        GDSP_19_20.append(i.text)
                
# scraping GSDP at current price (18-19)
GSDP = driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')[:33]
for i in GSDP:       
    if i.text is None :
        GSDP_18_19.append("--") 
    else:
        GSDP_18_19.append(i.text)
                
# scraping Share(18-19)
share = driver.find_elements(By.XPATH,'//td[@class="data"]')[:165]
for i in share:       
    if i.text is None :
        Share_18_19.append("--") 
    else:
        Share_18_19.append(i.text)
                
# scraping GDP($ billion)
GDP = driver.find_elements(By.XPATH,'//td[@class="data"]')[:165]
for i in GDP:
    if i.text is None :
            GDP_billion.append("--") 
    else:
        GDP_billion.append(i.text)
        
# creating the dataframe from the scraped data
df=pd.DataFrame({"Rank":Rank,"State":State,"GDSP_19_20":GDSP_19_20[::5],"GSDP_18_19":GSDP_18_19,"Share_18_19":Share_18_19[1::5],"GDP_billion":GDP_billion[2::5]})
df.head(10)

  Rank           State GDSP_19_20 GSDP_18_19 Share_18_19 GDP_billion
0    1     Maharashtra          -  2,632,792      13.94%     399.921
1    2      Tamil Nadu  1,845,853  1,630,208       8.63%     247.629
2    3   Uttar Pradesh  1,687,818  1,584,764       8.39%     240.726
3    4         Gujarat          -  1,502,899       7.96%     228.290
4    5       Karnataka  1,631,977  1,493,127       7.91%     226.806
5    6     West Bengal  1,253,832  1,089,898       5.77%     165.556
6    7       Rajasthan  1,020,989    942,586       4.99%     143.179
7    8  Andhra Pradesh    972,782    862,957       4.57%     131.083
8    9       Telangana    969,604    861,031       4.56%     130.791
9   10  Madhya Pradesh    906,672    809,592       4.29%     122.977

In [170]:
#4. Scrape the details of trending repositories on Github.com. Url = https://github.com/You have to find the following details: 
#A) Repository title B) Repository description C) Contributors count D) Language used Note: - From the home page you have to click on the trending option from Explore menu through code.

In [171]:
driver=webdriver.Chrome()

In [172]:
# Opening the github on automated chrome browser:
driver.get("https://github.com/trending")

In [173]:
#creating empty list for scraping the data
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

# scraping Repository_title
repo_title = driver.find_elements(By.XPATH,'//span[@class="text-normal"]')[:22]
for i in repo_title:       
    if i.text is None :
        Repository_title.append("--") 
    else:
        Repository_title.append(i.text)
                        
# scraping Repository_description
repo_desc = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')[:22]
for i in repo_desc:       
    if i.text is None :
        Repository_description.append("--") 
    else:
        Repository_description.append(i.text)
        
# scraping Contibutors_count
cont = driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"]')[:22]
for i in cont:       
    if i.text is None :
        Contributors_count.append("--") 
    else:
        Contributors_count.append(i.text)
            
# scraping Language_used
lang = driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')[:22]
for i in lang:       
    if i.text is None :
        Language_used.append("--") 
    else:
        Language_used.append(i.text)
        
# creating the dataframe from the scraped data
df=pd.DataFrame({"Repository_title":Repository_title,"Repository_description":Repository_description,"Contributors_count":Contributors_count,"Language_used":Language_used})
df.head(10)

,Repository_title,Repository_description,Contributors_count,Language_used
0,opentofu /,OpenTofu lets you declaratively manage your cl...,"8,488",Go
1,ProjectUnifree /,[SIGGRAPH Asia 2023] Rerender A Video: Zero-Sh...,239,Python
2,williamyang1991 /,PowerShell for every system!,674,Jupyter Notebook
3,PowerShell /,Clone a voice in 5 seconds to generate arbitra...,36,C#
4,CorentinJ /,"Your self-hosted, globally interconnected micr...","1,661",Python
5,mastodon /,Code and models for NExT-GPT: Any-to-Any Multi...,86,Ruby
6,NExT-GPT /,"The paper list of the 86-page paper ""The Rise ...","40,591",Python
7,WooooDyy /,Public repo for my latest and greatest cogniti...,"7,514",Python
8,daveshap /,ðŸ¸ðŸ’¬ - a deep learning toolkit for Text-to-Speec...,"45,551",TypeScript
9,coqui-ai /,"ðŸ”¥ ðŸ”¥ ðŸ”¥ Open Source JIRA, Linear and Height Alte...","8,060",JavaScript

In [79]:
#5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/You have to find the following details: 
#A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [80]:
driver=webdriver.Chrome()

In [81]:
# Opening the billboard page on automated chrome browser:
driver.get("https://www.billboard.com/")

In [82]:
# clicking the chart
chart=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]")
chart.click()

In [83]:
# clicking the view chart
hot100=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a")
hot100.click()

In [84]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

# scraping Song nametitle-of-a-story
song = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
for i in song:       
    if i.text is None :
        Song_name.append("--") 
    else:
        Song_name.append(i.text)         
Song_name

['Vampire',
 'Paint The Town Red',
 'I Remember Everything',
 'Fast Car',
 'Cruel Summer',
 'Last Night',
 'Bad Idea Right?',
 'Snooze',
 'Fukumean',
 'Dance The Night',
 'Get Him Back!',
 'Calm Down',
 'All-American Bitch',
 'Bongos',
 'Barbie World',
 'The Grudge',
 'Flowers',
 'All My Life',
 'Making The Bed',
 'Logical',
 'Religiously',
 'Rich Men North Of Richmond',
 'Lacy',
 'Ballad Of A Homeschooled Girl',
 'Love Is Embarrassing',
 'Used To Be Young',
 "Thinkin' Bout Me",
 'Need A Favor',
 'Kill Bill',
 "Pretty Isn't Pretty",
 'Anti-Hero',
 'What Was I Made For?',
 'Peaches & Eggplants',
 'Hey Driver',
 "Creepin'",
 'Karma',
 'Meltdown',
 'Dial Drunk',
 'Teenage Dream',
 'Watermelon Moonshine',
 'I Know ?',
 'Qlona',
 'Try That In A Small Town',
 'Seven',
 'Tourniquet',
 'What It Is (Block Boy)',
 'Single Soon',
 'Daylight',
 'Love You Anyway',
 'Bury Me In Georgia',
 'Slow Dancing',
 'Spotless',
 'Lady Gaga',
 'Mi Ex Tenia Razon',
 'East Side Of Sorrow',
 'Save Me',
 'LaLa',
 'Good Good',
 'In Your Love',
 'Bipolar',
 'White Horse',
 'Last Time I Saw You',
 'Telekinesis',
 'FE!N',
 'Popular',
 'SkeeYee',
 'Everything I Love',
 'Que Onda',
 "Angels Don't Always Have Wings",
 'Lose Control',
 'Deli',
 'Tulum',
 'Truck Bed',
 'Sabor Fresa',
 "Fear And Friday's",
 'El Dorado',
 'Johnny Dang',
 'Oh U Went',
 'Put It On Da Floor Again',
 'Where She Goes',
 'Ticking',
 "Summertime's Close",
 'Dawns',
 'Oklahoma Smoke Show',
 'Call Your Friends',
 'Overtime',
 'Pretty Little Poison',
 'Come See Me',
 'El Amor de Su Vida',
 'Holy Roller',
 'Girl In Mine',
 'Smaller Acts',
 'Fight The Feeling',
 'K-POP',
 'Summer Too Hot',
 'Lagunas',
 "Sittin' On Top Of The World",
 'Rubicon',
 'TQM',
 'Amargura']

In [85]:
# scraping Artist name
Artist_name = []
artist = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in artist:       
    if i.text is None :
        Artist_name.append("--") 
    else:
        Artist_name.append(i.text) 
Artist_name

['Olivia Rodrigo',
 'Doja Cat',
 'Zach Bryan Featuring Kacey Musgraves',
 'Luke Combs',
 'Taylor Swift',
 'Morgan Wallen',
 'Olivia Rodrigo',
 'SZA',
 'Gunna',
 'Dua Lipa',
 'Olivia Rodrigo',
 'Rema & Selena Gomez',
 'Olivia Rodrigo',
 'Cardi B & Megan Thee Stallion',
 'Nicki Minaj & Ice Spice With Aqua',
 'Olivia Rodrigo',
 'Miley Cyrus',
 'Lil Durk Featuring J. Cole',
 'Olivia Rodrigo',
 'Olivia Rodrigo',
 'Bailey Zimmerman',
 'Oliver Anthony Music',
 'Olivia Rodrigo',
 'Olivia Rodrigo',
 'Olivia Rodrigo',
 'Miley Cyrus',
 'Morgan Wallen',
 'Jelly Roll',
 'SZA',
 'Olivia Rodrigo',
 'Taylor Swift',
 'Billie Eilish',
 'Young Nudy Featuring 21 Savage',
 'Zach Bryan Featuring The War And Treaty',
 'Metro Boomin, The Weeknd & 21 Savage',
 'Taylor Swift Featuring Ice Spice',
 'Travis Scott Featuring Drake',
 'Noah Kahan With Post Malone',
 'Olivia Rodrigo',
 'Lainey Wilson',
 'Travis Scott',
 'Karol G & Peso Pluma',
 'Jason Aldean',
 'Jung Kook Featuring Latto',
 'Zach Bryan',
 'Doechii Featuring Kodak Black',
 'Selena Gomez',
 'David Kushner',
 'Luke Combs',
 'Kane Brown',
 'V',
 'Zach Bryan Featuring The Lumineers',
 'Peso Pluma, Gabito Ballesteros & Junior H',
 'Karol G',
 'Zach Bryan',
 'Jelly Roll With Lainey Wilson',
 'Myke Towers',
 'Usher, Summer Walker & 21 Savage',
 'Tyler Childers',
 'Peso Pluma x Jasiel Nunez x Junior H',
 'Chris Stapleton',
 'Nicki Minaj',
 'Travis Scott Featuring SZA & Future',
 'Travis Scott Featuring Playboi Carti',
 'The Weeknd, Playboi Carti & Madonna',
 'Sexyy Red',
 'Morgan Wallen',
 'Calle 24 x Chino Pacas x Fuerza Regida',
 'Thomas Rhett',
 'Teddy Swims',
 'Ice Spice',
 'Peso Pluma & Grupo Frontera',
 'HARDY',
 'Fuerza Regida',
 'Zach Bryan',
 'Zach Bryan',
 'That Mexican OT, Paul Wall & DRODi',
 'Young Thug Featuring Drake',
 'Latto Featuring Cardi B',
 'Bad Bunny',
 'Zach Bryan',
 'Zach Bryan',
 'Zach Bryan Featuring Maggie Rogers',
 'Zach Bryan',
 'Rod Wave',
 'Zach Bryan',
 'Warren Zeiders',
 'Rod Wave',
 'Grupo Frontera & Grupo Firme',
 'Zach Bryan Featuring Sierra Ferrell',
 'Parmalee',
 'Zach Bryan',
 'Rod Wave',
 'Travis Scott, Bad Bunny & The Weeknd',
 'Chris Brown',
 'Peso Pluma & Jasiel Nunez',
 'Burna Boy',
 'Peso Pluma',
 'Fuerza Regida',
 'Karol G']

In [93]:
Last_week_rank =[]
lw_rank = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
for i in lw_rank:       
    if i.text is None :
        Last_week_rank.append("--") 
    else:
        Last_week_rank.append(i.text)  
Last_week_rank

['9',
 '1',
 '2',
 '3',
 '4',
 '5',
 '26',
 '7',
 '8',
 '6',
 '-',
 '10',
 '-',
 '-',
 '12',
 '-',
 '13',
 '14',
 '-',
 '-',
 '15',
 '11',
 '-',
 '-',
 '-',
 '16',
 '19',
 '18',
 '21',
 '-',
 '20',
 '22',
 '51',
 '17',
 '25',
 '24',
 '27',
 '28',
 '-',
 '33',
 '34',
 '31',
 '30',
 '37',
 '29',
 '41',
 '39',
 '42',
 '32',
 '36',
 '-',
 '35',
 '47',
 '43',
 '40',
 '79',
 '44',
 '58',
 '65',
 '-',
 '57',
 '23',
 '50',
 '54',
 '66',
 '67',
 '64',
 '61',
 '73',
 '81',
 '60',
 '71',
 '59',
 '70',
 '48',
 '49',
 '75',
 '76',
 '68',
 '72',
 '52',
 '53',
 '77',
 '80',
 '97',
 '55',
 '87',
 '56',
 '93',
 '69',
 '92',
 '63',
 '-',
 '74',
 '94',
 '-',
 '86',
 '95',
 '89',
 '91']

In [96]:
Peak_rank = []
Weeks_on_board = []
peak = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')

for i in peak:       
    if i.text is None :
        Peak_rank.append("--") 
    else:
        Peak_rank.append(i.text)    

# scraping Weeks_on_board
on_board = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')

for i in on_board:       
    if i.text is None :
        Weeks_on_board.append("--")
    else:
        Weeks_on_board.append(i.text)

# creating the dataframe from the scraped data
df=pd.DataFrame({"Song_name":Song_name,"Artist_name":Artist_name,"Last_week_rank":Last_week_rank,"Peak_rank":Peak_rank,"Weeks_on_board":Weeks_on_board})
df

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Vampire,Olivia Rodrigo,9,1,11
1,Paint The Town Red,Doja Cat,1,1,6
2,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,2,1,3
3,Fast Car,Luke Combs,3,2,25
4,Cruel Summer,Taylor Swift,4,3,19
...,...,...,...,...,...
95,Lagunas,Peso Pluma & Jasiel Nunez,-,77,9
96,Sittin' On Top Of The World,Burna Boy,86,80,3
97,Rubicon,Peso Pluma,95,63,11
98,TQM,Fuerza Regida,89,34,17
99,Amargura,Karol G,91,85,5

In [150]:
#6. Scrape the details of Highest selling novels.https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
#compare A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [151]:
driver=webdriver.Chrome()

In [152]:
# Opening the highest selling novel page from guradian.com on automated chrome browser:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [153]:
# creating empty lists for scraping data
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

#scraping Books Name
book=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in book:
    if i.text is None :
        Book_name.append("--") 
    else:
        Book_name.append(i.text)
                
# scraping Author name
author=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in author:
    if i.text is None :
        Author_name.append("--") 
    else:
        Author_name.append(i.text)

# scraping Volumes Sold
volume=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in volume:
    if i.text is None :
        Volumes_sold.append("--") 
    else:
        Volumes_sold.append(i.text)
                
# scraping Publisher
publisher=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in publisher:
    if i.text is None :
        Publisher.append("--") 
    else:
        Publisher.append(i.text)
               
# scraping Genre
genre = driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in genre:
    if i.text is None :
        Genre.append("--")
    else:
        Genre.append(i.text)
        
# creating the dataframe from the scraped data
df=pd.DataFrame({"Book_name":Book_name[1::5],"Author_name":Author_name[2::5],"Volumes_sold":Volumes_sold[3::5],"Publisher":Publisher[4::5],"Genre":Genre})
df

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [154]:
#7. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: 
#A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [155]:
driver=webdriver.Chrome()

In [156]:
# Opening theimdb page on automated chrome browser:
driver.get("https://www.imdb.com/list/ls095964455/")

In [157]:
# creating empty lists for scraping data
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

# scraping top Movies name
name = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a')
for i in name:       
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
        
#scraping year span       
year = driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in year:       
    if i.text is None :
        Year_span.append("--") 
    else:
        Year_span.append(i.text) 
        
#scraping genre       
gen = driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in gen :       
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)
        
#scraping run time
time = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in time:       
    if i.text is None :
        Run_time.append("--") 
    else:
        Run_time.append(i.text)

rate = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rate:       
    if i.text is None :
        Ratings.append("--") 
    else:
        Ratings.append(i.text)

#scraping votes
vote = driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in vote:       
    if i.text is None :
        Votes.append("--") 
    else:
        Votes.append(i.text)

# creating the dataframe from the scraped data
df=pd.DataFrame({"Name":Name,"Year_span":Year_span,"Genre":Genre,"Run_time":Run_time,"Ratings":Ratings,"Votes":Votes})
df

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011â€“2019),"Action, Adventure, Drama",57 min,9.2,"2,205,367"
1,Stranger Things,(2016â€“2025),"Drama, Fantasy, Horror",51 min,8.7,"1,276,697"
2,The Walking Dead,(2010â€“2022),"Drama, Horror, Thriller",44 min,8.1,"1,046,380"
3,13 Reasons Why,(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.5,"307,536"
4,The 100,(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"266,625"
...,...,...,...,...,...,...
95,Reign,(2013â€“2017),Drama,42 min,7.5,"52,759"
96,A Series of Unfortunate Events,(2017â€“2019),"Adventure, Comedy, Drama",50 min,7.8,"64,815"
97,Criminal Minds,(2005â€“ ),"Crime, Drama, Mystery",42 min,8.1,"211,134"
98,Scream: The TV Series,(2015â€“2019),"Comedy, Crime, Drama",45 min,7,"43,926"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"266,272"

In [158]:
#8. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/You have to find the following details: 
#A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the Show All Dataset page through code.

In [167]:
driver=webdriver.Chrome()
# Opening the UCI machine learning repository page on automated chrome browser:
driver.get("https://archive.ics.uci.edu/")
# clicking the 'View all dataset'
view_dataset=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a")
view_dataset.click()

In [168]:
#click in expand all
svg =driver.find_element(By.XPATH,'//div[@class="flex flex-wrap items-center gap-4"]')
svg.click()

In [169]:
# scraping Dataset_name
Dataset_name = []
dataset = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in dataset:       
    if i.text is None :
        Dataset_name.append("--") 
    else:
        Dataset_name.append(i.text)
#Dataset_name
Data_type = []
datatype = driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]/div/div/div[2]/div/div[2]/span')
for i in datatype:       
    if i.text is None :
        Data_type.append("--") 
    else:
        Data_type.append(i.text)
#Data_type
Task=[]
# scraping Task
#task = driver.find_elements(By.XPATH,'//span[@class="truncate"]')
task = driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]/div/div/div[2]/div/div[1]/span')

for i in task:       
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
#Task
Attribute_type=[]

attribute_type = driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]/div/div[2]/div/table/tbody/tr/td[2]')

for i in attribute_type:       
    if i.text is None :
        Attribute_type.append("--") 
    else:
        Attribute_type.append(i.text)
#Attribute_type 
# scraping No_of_instances
No_of_instances=[]
instances = driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]/div/div/div[2]/div/div[3]/span')
for i in instances:       
    if i.text is None :
        No_of_instances.append("--") 
    else:
        No_of_instances.append(i.text)
#No_of_instances
# scraping No_of_attribute
No_of_attribute= []
attribute = driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]/div/div/div[2]/div/div[4]/span')
for i in attribute:
    if i.text is None :
        No_of_attribute.append("--") 
    else:
        No_of_attribute.append(i.text)
#No_of_attribute
Year = []
year = driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]/div/div[2]/div/table/tbody/tr/td[3]')
for i in year:
    if i.text is None :
        Year.append("--")
    else:
        Year.append(i.text)
#Year
# creating the dataframe from the scraped data
df=pd.DataFrame({"Dataset_name":Dataset_name,
                 "Data_type":Data_type,
                 "Task":Task,
                 "Attribute_type":Attribute_type,
                 "No_of_instances":No_of_instances,
                 "No_of_features":No_of_attribute,
                 "Year":Year})
df

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_features,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
4,Diabetes,,,"Categorical, Integer",,20 Features,N/A
5,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
7,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Features,6/1/1997
8,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,8 Features,10/6/2019
9,Mushroom,Multivariate,Classification,Categorical,8.12K Instances,22 Features,4/27/1987